.navbar {
  background: var(--bg-dark-3);
  width: 8rem;
  transition: var(--transition);
  box-shadow: var(--shadow-1);
  z-index: 99999;
  height: 100%;
}

.active {
  width: 23rem;
}

.currentSectionText {
  width: 100%;
  margin-top: 2rem;
  padding: 2.2rem 3rem;
  writing-mode: vertical-lr;
  font-size: 1.2rem;
  color: var(--text-grey);
  text-transform: uppercase;
  transition: all var(--transition);
  font-weight: 500;
  height: 8rem;
}

.active .currentSectionText {
  opacity: 0;
}

.nav {
  padding: 4.4rem 3.4rem;
  opacity: 0;
  transition: all var(--transition);
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  list-style: none;
}

.nav ul li a {
  font-size: 1.3rem;
  color: var(--text-grey);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: all var(--transition);
}

.active .nav {
  opacity: 1;
}

:global(a.active) {
  color: var(--text-white) !important;
}
